[submodule "contracts/configurable-rights-pool"]
	path = contracts/configurable-rights-pool
	url = git@github.com:balancer-labs/configurable-rights-pool.git
[submodule "contracts/balancer-core"]
	path = contracts/balancer-core
	url = git@github.com:balancer-labs/balancer-core.git
