.nix-node
node_modules
public/build
.env
cache
typechain
artifacts
build
venv
bin
docs/api
*.tgz
.npmrc
solt
!dist/**
tenderly.yaml
test-template.ts
dumpfile
AllStandardOpmeta.json

# Echidna
crytic-export