contracts/configurable-rights-pool
contracts/tv-prestige
*.md
artifacts
cache
typechain
venv

.nix-node
node_modules
public/build
.env
cache
typechain
artifacts
build
venv
!dist/**/artifacts
docs/api

*.hbs